:host
    height: 100%
    display: flex
    flex-direction: column
    margin: 0px
    padding: 0px

.terminal
    width: 1000px
    flex-grow: 1
    background-color: black
    color: white
    display: flex
    flex-direction: column
    overflow-y: hidden
    margin: 0px
    padding: 0px
    padding-left: 20px

    pre
        display: flex
        flex-direction: column-reverse
        overflow-y: scroll
        font-family: monospace
        margin: 0px
        padding: 0px

