<router-outlet
    *ngIf='!mustHaveController() || webusb.isConnected'
    >
</router-outlet>

<div
    *ngIf='mustHaveController() && webusb.browserIsCompatible && !webusb.isConnected'
    class='centered'
    >
    <div class='widget'>
        <div class='icon'>
            <span class='material-icons'>sports_esports</span>
        </div>
        <div class='title'>Controller not found</div>
        <button (click)='webusb.requestDevice()'>Pair a new controller</button>
        <div class='link'><a routerLink='help/webusb'>Help</a></div>
    </div>
</div>

<div
    *ngIf='!webusb.browserIsCompatible'
    class='centered'
    >
    <div class='widget'>
        <div class='icon'>
            <span class='material-icons'>report</span>
        </div>
        <div>&nbsp;</div>
        <div class='title'>Browser not compatible</div>
        <div class='msg'>
            This browser do not support
            <a href='https://caniuse.com/webusb' target='_blank'>WebUSB</a>
        </div>
    </div>
</div>
