@use '../styles' as *

:host
    display: flex
    flex-direction: row
    background: black
    color: white
    min-height: 100px
    font-family: Poppins

    .logo
        min-width: 300px
        display: flex
        flex-direction: row
        font-size: 24px
        font-weight: bold
        .image
            img
                margin-top: 14px
                margin-left: 38px
                width: 80px
                background: $green
        span
            line-height: 100px
            color: $green

    .nav
        flex-grow: 1
        display: flex
        flex-direction: row
        padding-right: 20px
        .filler
            flex-grow: 1
        .tab
            margin-top: 30px
            font-size: 24px
            font-weight: bold
            &:first-child
                margin-left: 40px
            a
                display: block
                font-size: 19px
                color: hsl(0deg, 0%, 50%)
                text-decoration: none
                padding: 0 20px
                line-height: 40px
                &.active
                    background-color: $green
                    color: black
                    border-radius: 5px
                    margin: 0 10px

        .connection
            display: flex
            align-items: center
            margin: 0
            font-size: 24px
            font-weight: bold
            color: hsl(0deg, 0%, 30%)
            font-size: 20px
            &>div
                margin: 0
                display: flex
                align-items: center
                cursor: pointer
            .material-icons
                padding-left: 10px
                padding-right: 10px
                font-size: 50px
            .active
                margin: 0
                color: $green



