<div class='logo'>
    <div class="image"><img src='/assets/logo.png'/></div>
    <span>Input Labs</span>
</div>

<div class='nav'>
    <div class=filler></div>
    <div>
        <a
            routerLink='tools'
            routerLinkActive='active'
            >
            Tools
        </a>
    </div>
    <div>
        <a
            routerLink='profiles'
            routerLinkActive='active'
            >
            Profiles
        </a>
    </div>
    <div>
        <a
            routerLink='settings'
            routerLinkActive='active'
            >
            Settings
        </a>
    </div>
</div>
