<h2>Windows</h2>
<p>WebUSB should work out of the box in Windows and Chrome. No additional configuration is required.</p>
<hr/>

<h2>Debian / Ubuntu</h2>
<p>Create a file with udev rules:</p>
<span class='code'>sudo touch /etc/udev/rules.d/99-alpakka.rules</span>
<p>Add 2 lines to the file:</p>
<span class='code'>{{'SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", MODE="0660", GROUP="plugdev", SYMLINK+="webusb"'}}</span>
<span class='code'>{{'SUBSYSTEMS=="usb", ATTRS{idVendor}=="0170", MODE="0660", GROUP="plugdev", SYMLINK+="webusb"'}}</span>
<p>Reconnect the controller and verify the rule has been loaded by checking if <span class='code'>/dev/webusb</span> exist.</p>
<hr/>

<h2>Steam Deck</h2>
<p>Go into desktop mode.</p>
<p>In the terminal app, set a password for your user:</p>
<span class='code'>passwd</span>
<p>Type a new password (it won't be visible while typing). Do not lose this password, you may need in the future and it is not easy to recover!.</p>
<p>Create a file with udev rules:</p>
<span class='code'>sudo touch /etc/udev/rules.d/99-alpakka.rules</span>
<p>Add 2 lines to the file:</p>
<span class='code'>{{'SUBSYSTEMS=="usb", ATTRS{idVendor}=="045e", MODE="0660", GROUP="deck", SYMLINK+="webusb"'}}</span>
<span class='code'>{{'SUBSYSTEMS=="usb", ATTRS{idVendor}=="0170", MODE="0660", GROUP="deck", SYMLINK+="webusb"'}}</span>
<p>Reconnect the controller and verify the rule has been loaded by checking if <span class='code'>/dev/webusb</span> exist.</p>
<p>Known issues: The controller has to be connected before starting Chrome/Chromium, if the controller is restarted then the browser must be restarted too. If you are an Arch expert and figure out go to fix this please let us know.</p>
<hr/>

<h2>Other platforms</h2>
<p>WebUSB also seems to work out of the box in Android and MacOS, though we are not officially testing these</p>
<hr/>

<h2>Compatible web browsers</h2>
<p>Chrome/Chromium and Edge support WebUSB, while Firefox does not (yet?). See the complete list of <a href='https://caniuse.com/webusb' target='_blank'>WebUSB compatible browsers</a>.</p>

