<h2>Windows</h2>
<p>WebUSB should work out of the box in Windows and Chrome. No additional configuration is required.</p>
<hr/>

<h2>Debian / Ubuntu</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris rhoncus aenean. Tortor at risus viverra adipiscing at in tellus integer. Mauris augue neque gravida in. Tristique senectus et netus et. Dui faucibus in ornare quam viverra orci sagittis. Vel pretium lectus quam id</p>
<hr/>

<h2>Steam Deck / Arch Linux</h2>
<p>A diam maecenas sed enim ut sem. Scelerisque fermentum dui faucibus in ornare quam viverra. Nibh mauris cursus mattis molestie a iaculis at erat pellentesque. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Amet mattis vulputate enim nulla aliquet. Eget lorem dolor sed viverra ipsum nunc.</p>
<p>Sed euismod nisi porta lorem mollis. Diam sit amet nisl suscipit adipiscing bibendum est ultricies integer. Sed egestas egestas fringilla phasellus faucibus. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque</p>
<hr/>

<h2>Other platforms</h2>
<p>WebUSB also seems to work out of the box in Android and MacOS, though we are not officially testing these</p>
<hr/>

<h2>Compatible web browsers</h2>
<p>Chrome/Chromium and Edge support WebUSB, while Firefox does not (yet?). See the complete list of <a href='https://caniuse.com/webusb' target='_blank'>WebUSB compatible browsers</a>.</p>

