<h2>Setup in Windows</h2>
<hr/>

<h3>Compatible browsers</h3>
<ul>
    <li>Chrome / Chromium.</li>
    <li>Edge.</li>
    <li>Brave.</li>
</ul>
<hr/>

<!-- <h3>OS configuration</h3>
<p>WebUSB should work out of the box in Windows. No additional configuration is required.</p>
<hr/> -->

<h3>Protocol mode</h3>
<ul>
    <li>Controller must be either in <span class='code'>Windows XInput</span> mode, or in <span class='code'>Generic</span> mode.</li>
    <li>Each mode have to be paired individually.</li>
</ul>
<hr/>

<h3>Pair controller</h3>
<p>Click this button and select <span class='code'>Alpakka</span> or <span class='code'>Kapybara</span> from the list.</p>
<button class='buttonBig' (click)='webusb.requestDevice()'>Pair a new controller</button>
<hr/>

<h3>Known issues</h3>
<p>The controller may have to be <span class='code'>unplugged and plugged at least once</span> after opening the browser.</p>



