<div class='wrap' [style.width.px]='size' [style.height.px]='size'>
    <div
        class='dot i0'
        [style.width.px]='dotsize'
        [style.height.px]='dotsize'
        [style.borderRadius.px]='dotsize/2'
        >
    </div>
    <div
        class='dot i1'
        [style.width.px]='dotsize'
        [style.height.px]='dotsize'
        [style.borderRadius.px]='dotsize/2'
        >
    </div>
    <div
        class='dot i2'
        [style.width.px]='dotsize'
        [style.height.px]='dotsize'
        [style.borderRadius.px]='dotsize/2'
        >
    </div>
    <div
        class='dot i3'
        [style.width.px]='dotsize'
        [style.height.px]='dotsize'
        [style.borderRadius.px]='dotsize/2'
        >
    </div>
</div>
