<div class='terminal'>
    <h2>Firmware logs</h2>
    <pre>
        <span class='filler'></span>
        <span *ngIf='!webusb.logs.length'>There are no logs yet, use the restart button</span>
        <span *ngFor='let line of webusb.logs'>{{line}}</span>
    </pre>
</div>

<div class='panel'>
    <h2>Commands</h2>
    <button (click)='webusb.sendRestart()'>Restart</button>
    <button (click)='webusb.sendBootsel()'>Restart in bootsel mode</button>
    <button (click)='downloadLogs()'>Download logs</button>
    <button (click)='webusb.sendCalibrate()'>Calibrate</button>
    <button (click)='showDialogFactory()'>Reset to factory defaults</button>
</div>

<dialog id='dialog-factory'>
    <h3>Reset to factory defaults</h3>
    <div> All config values will be discarded (calibration, protocol mode, sensitivities, etc)</div>
    <div class='buttons'>
        <button (click)='hideDialogFactory()' class='flat'>Cancel</button>
        <button (click)='hideDialogFactory() && webusb.sendFactory()'>Ok</button>
    </div>
</dialog>
