@use '../styles' as *

:host
    width: 300px
    background: hsl(0deg, 0%, 8%)
    a
        display: block
        // height: 50px
        line-height: 40px
        margin: 20px
        margin-top: 10px
        margin-bottom: 0
        padding-left: 20px
        font-weight: bold
        text-decoration: none
        // background-color: hsl(0deg, 0%, 10%)
        color: hsl(0deg, 0%, 70%)
        &.active
            background-color: hsl(0deg, 0%, 15%)
            color: $green
            border-radius: 5px
