<div *ngIf='this.isTools()'>
    <a
        routerLink=''
        routerLinkActive='active'
        [routerLinkActiveOptions]='{exact: true}'
        >
        <span class='material-icons'>terminal</span>
        Logs and commands
    </a>
    <a routerLink='tools/tester' routerLinkActive='active'>
        <span class='material-icons'>sports_esports</span>
        Output tester
    </a>
    <a routerLink='tools/fw_update' routerLinkActive='active'>
        <span class='material-icons'>install_mobile</span>
        Firmware update
    </a>
</div>

<div *ngIf='this.isProfiles()'>
    <a routerLink='profiles/0' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.ALL'></app-led>
        Home
    </a>
    <a routerLink='profiles/1' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.UP'></app-led>
        FPS Fusion
    </a>
    <a routerLink='profiles/2' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.RIGHT'></app-led>
        Racing
    </a>
    <a routerLink='profiles/3' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.DOWN'></app-led>
        Console
    </a>
    <a routerLink='profiles/4' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.LEFT'></app-led>
        Desktop
    </a>
    <a routerLink='profiles/5' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.UP+LED.LEFT+LED.RIGHT'></app-led>
        FPS WASD
    </a>
    <a routerLink='profiles/6' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.RIGHT+LED.UP+LED.DOWN'></app-led>
        Flight
    </a>
    <a routerLink='profiles/7' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.DOWN+LED.LEFT+LED.RIGHT'></app-led>
        Console legacy
    </a>
    <a routerLink='profiles/8' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.LEFT+LED.DOWN+LED.UP'></app-led>
        RTS
    </a>
    <a routerLink='profiles/9' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.UP+LED.RIGHT'></app-led>
        Custom 1
    </a>
    <a routerLink='profiles/10' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.RIGHT+LED.DOWN'></app-led>
        Custom 2
    </a>
    <a routerLink='profiles/11' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.DOWN+LED.LEFT'></app-led>
        Custom 3
    </a>
    <a routerLink='profiles/12' routerLinkActive='active'>
        <app-led [colorOff]='ledColorOff' [on]='LED.LEFT+LED.UP'></app-led>
        Custom 4
    </a>
</div>

<div *ngIf='this.isSettings()'>
    <a routerLink='settings/protocol' routerLinkActive='active'>
        <span class='material-icons'>usb</span>
        Protocol
    </a>
    <a routerLink='settings/touch_sens' routerLinkActive='active'>
        <span class='material-icons'>touch_app</span>
        Touch sensitivity
    </a>
    <a routerLink='settings/mouse_sens' routerLinkActive='active'>
        <span class='material-icons'>mouse</span>
        Mouse sensitivity
    </a>
    <a routerLink='settings/deadzone' routerLinkActive='active'>
        <span class='material-icons'>adjust</span>
        Thumbstick deadzone
    </a>
    <a routerLink='settings/advanced' routerLinkActive='active'>
        <span class='material-icons'>tune</span>
        Advanced
    </a>
    <a routerLink='settings/app' routerLinkActive='active'>
        <span class='material-icons'>screenshot_monitor</span>
        App settings
    </a>
</div>

<div *ngIf='this.isHelp()'>
    <a routerLink='help/windows' routerLinkActive='active'>
        <span class='material-icons'>laptop</span>
        Setup in Windows
    </a>
    <a routerLink='help/linux' routerLinkActive='active'>
        <span class='material-icons'>laptop</span>
        Setup in Linux
    </a>
    <a routerLink='help/deck' routerLinkActive='active'>
        <span class='material-icons'>stay_current_landscape</span>
        Setup in Steam Deck
    </a>
    <a routerLink='help/privacy' routerLinkActive='active'>
        <span class='material-icons'>verified_user</span>
        Privacy policy
    </a>
</div>
