<div class='tune'>
    <h2>{{mode?.title}}</h2>
    <div class='presets'>
        <div *ngFor='let preset of mode?.presets' class='preset' [ngClass]='isActive(preset)'>
            <div class='name'>{{preset.name}}</div>
            <div class='leds'>
                <app-led
                    *ngIf='isActive(preset)'
                    (click)='setActive(preset)'
                    [size]='80'
                    [dotsize]='8'
                    [on]='preset.leds'
                    [blink]='preset.blink'
                    >
                </app-led>
                <app-led
                    *ngIf='!isActive(preset)'
                    (click)='setActive(preset)'
                    [size]='80'
                    [dotsize]='8'
                    [on]='preset.leds'
                    >
                </app-led>
            </div>
            <div class='value' *ngIf='preset.value'>{{preset.value}}</div>
            <div class='desc'>{{preset.desc}}</div>
        </div>
    </div>
</div>

<div class='panel'>
    <h2>Edit values</h2>
    <div *ngIf='mode?.title=="protocol"'>Protocol values cannot be modified</div>
    <div *ngIf='mode?.title!="protocol"'>Coming soon</div>
</div>
