<div class='tune'>
    <h2>{{mode.title}}</h2>
    <div class='presets'>
        <div class='preset' [ngClass]='isActive(0)'>
            <div class='name'>{{mode.presets[0].name}}</div>
            <app-led class='leds' *ngIf='isActive(0)' (click)='setActive(0)' [on]='mode.presets[0].leds' [blink]='mode.presets[0].blink'></app-led>
            <app-led class='leds' *ngIf='!isActive(0)' (click)='setActive(0)' [on]='mode.presets[0].leds'></app-led>
            <div class='value' *ngIf='mode.presets[0].value'>{{mode.presets[0].value}}</div>
            <div class='desc'>{{mode.presets[0].desc}}</div>
        </div>
        <div class='preset' [ngClass]='isActive(1)'>
            <div class='name'>{{mode.presets[1].name}}</div>
            <app-led class='leds' *ngIf='isActive(1)' (click)='setActive(1)' [on]='mode.presets[1].leds' [blink]='mode.presets[1].blink'></app-led>
            <app-led class='leds' *ngIf='!isActive(1)' (click)='setActive(1)' [on]='mode.presets[1].leds'></app-led>
            <div class='value' *ngIf='mode.presets[1].value'>{{mode.presets[1].value}}</div>
            <div class='desc'>{{mode.presets[1].desc}}</div>
        </div>
        <div class='preset' [ngClass]='isActive(2)'>
            <div class='name'>{{mode.presets[2].name}}</div>
            <app-led class='leds' *ngIf='isActive(2)' (click)='setActive(2)' [on]='mode.presets[2].leds' [blink]='mode.presets[2].blink'></app-led>
            <app-led class='leds' *ngIf='!isActive(2)' (click)='setActive(2)' [on]='mode.presets[2].leds'></app-led>
            <div class='value' *ngIf='mode.presets[2].value'>{{mode.presets[2].value}}</div>
            <div class='desc'>{{mode.presets[2].desc}}</div>
        </div>
    </div>
</div>

<div class='panel'>
    <h2>Edit values</h2>
    <div *ngIf='modeName=="protocol"'>Protocol values cannot be modified</div>
    <div *ngIf='modeName!="protocol"'>Coming soon</div>
</div>
