@font-face
    font-family: Poppins
    font-weight: normal
    src: url("/assets/Poppins-Regular.ttf") format("truetype")

@font-face
    font-family: Poppins
    font-weight: bold
    src: url("/assets/Poppins-Bold.ttf") format("truetype")

@font-face
    font-family: Inter
    font-weight: normal
    src: url("/assets/Inter-Regular.ttf") format("truetype")

@font-face
    font-family: Inter
    font-weight: bold
    src: url("/assets/Inter-Bold.ttf") format("truetype")

$purple: hsl(280deg, 100%, 50%)
$blue:   hsl(180deg, 100%, 50%)
$green:  hsl(160deg, 100%, 50%)
$yellow: hsl( 40deg, 100%, 50%)
$red:    hsl(  0deg, 100%, 50%)
$pink:   hsl(320deg, 100%, 50%)

*
    box-sizing: border-box

html
    height: 100%
    max-height: 100%
    background: black
    color-scheme: dark
    overflow-y: hidden

body
    height: 100%
    max-height: 100%
    margin: 0
    padding: 0
    font-family: Inter

button
    cursor: pointer

a
    color: $green
    cursor: pointer

pre
    margin: 0

dialog
    width: 450px
    padding: 25px
    text-align: center
    background-color: hsl(0deg, 0%, 15%)
    &::backdrop
        background-color: hsla(0deg, 0%, 0%, 75%)
    h3
        margin-top: 8px
    .buttons
        margin-top: 20px
    button
        background-color: black
        border: 0
        border-radius: 5px
        padding: 6px 16px
        font-family: Poppins
        font-weight: bold
        font-size: 14px
        margin: 0 8px
        color: $green
        &.flat
            color: hsl(0deg, 0%, 80%)

.code
    font-family: monospace
    // font-weight: bold
    font-size: 120%
    border: 1px solid hsl(0deg, 0%, 20%)
    display: inline-block
    padding: 1px
    padding-left:  8px
    padding-right: 8px
    background-color: black

.buttonBig
    // margin-top: 20px
    background-color: black
    border: 0
    border-radius: 5px
    padding: 10px 22px
    font-family: Poppins
    font-weight: bold
    font-size: 16px
    color: $green
