@font-face
    font-family: Poppins
    font-weight: normal
    src: url("/static/fonts/Poppins-Regular.ttf") format("truetype")

@font-face
    font-family: Poppins
    font-weight: bold
    src: url("/static/fonts/Poppins-Bold.ttf") format("truetype")

@font-face
    font-family: Inter
    font-weight: normal
    src: url("/static/fonts/Inter-Regular.ttf") format("truetype")

@font-face
    font-family: Inter
    font-weight: bold
    src: url("/static/fonts/Inter-Bold.ttf") format("truetype")


html
    height: 100%
    max-height: 100%
    background: black
    color-scheme: dark

body
    height: 100%
    max-height: 100%
    margin: 0
    padding: 0
    font-family: Inter

*
    box-sizing: border-box

:root
    --purple: hsl(280, 100%, 50%)
    --blue:   hsl(180, 100%, 50%)
    --green:  hsl(160, 100%, 50%)
    --yellow: hsl( 40, 100%, 50%)
    --red:    hsl(  0, 100%, 50%)
    --pink:   hsl(320, 100%, 50%)

